* {
  font-size: 14px;
}

.footer-copyright {
  text-align: center;
  color: #b5b5c3;
}

.form-control {
  font-size: 13px;
}

.btn {
  font-size: 13px;
}

.btn-custom {
  background-color: #007bff;
  color: white;
}
.btn-custom:hover {
  background-color: #0056b3;
}
.btn-confirm {
  background-color: #a3d39c;
  color: white;
}
.btn-confirm:hover {
  background-color: #8bc34a;
}
.card-custom {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.hidden {
  display: none;
}
